body {
  font-family: monospace;
  background: #1e1e1e;
  color: #f5e504;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  color: white;
}
#terminal {
  width: 80%;
  min-height: 80%;
  background: #000;
  color: rgb(83, 255, 4);
  padding: 20px;
  overflow-y: auto;
  border: 1px solid #333;
  font-size: 16px;
  white-space: pre-wrap;
}
#input-area {
  display: flex;
  margin-top: 10px;
}
#cli-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  background: #111;
  color: #fff;
  outline: none;
}
#cli-submit {
  background: #444;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}
#cli-submit:hover {
  background: #666;
}

#prompt {
  color: rgb(255, 239, 8);
}

h3 {
  color: white;
}

:root {
  --header-bac-color: linear-gradient(to right, #00bcd4, #002f55, #008a9c);
  --header-text-color: rgb(255, 255, 185);
  --button-bac-color: rgb(0, 0, 190);
  --button-text-color: rgb(248, 247, 206);
  --button-shadow-color: 3px 3px 12px rgb(248, 248, 150);
  --image-color: linear-gradient(to right, rgb(0, 0, 190), rgb(1, 1, 65));
  --root-bac-color: rgb(3, 0, 17);
  --root-text-color: rgb(250, 248, 235);
  --root-text-shadow: 3px 3px 12px rgb(250, 250, 208);
  --footer-bac-color: linear-gradient(to right, #011933, #01569c, #fffc5d);
}

#port {
  padding-left: 20px;
}

footer {
  padding-left: 5%;
  margin-top: 240px;
  width: 100%;
  height: 15%;
  background: var(--footer-bac-color);
  align-content: center;
  padding: 20px 10px;
}

body {
  margin-left: 0px;
}

footer p {
  color: var(--root-text-color);
  
}

header {
  background: var(--header-bac-color);
  width: 100%;
  min-height: 15vh;
  text-align: left;
  display:flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.headerTitle {
  margin:20px;
  align-self: center;
  justify-self: center;
}

.headerBy {
  align-self: flex-end;
  margin-right: 5vh;
  padding-bottom: 20px;
  
}
